{% extends BASE_TEMPLATE %}

{% block main %}
    <form class="form-horizontal panel panel-danger" action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        <div class="panel-heading">
            <h4 class="panel-title">
                {% trans "Heads up!" %}
            </h4>
        </div>
        <div class="panel-body">
            <p>
                {% block warning_message %}
                    {% blocktrans %}
                        You are about to delete <strong>{{ object }}</strong>.
                    {% endblocktrans %}
                {% endblock warning_message %}
                {% trans "Do you wish to continue?" %}
            </p>

            {% block extra_section %}
            {% endblock %}

            <div>
                <button class="btn btn-default" type="button" onClick="history.back()">
                    {% trans "Go back" %}
                </button>
                <button class="btn btn-danger" type="submit">
                    {% trans "Delete" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
