*.pyc
*.egg-info
.log/

/sxconsole-lite/.coverage
.cache/

/sxconsole-lite/db.sqlite3
/sxconsole-lite/node_modules/
/sxconsole-lite/assets/build/
/sxconsole-lite/assets/i18n/**/*.json
/sxconsole-lite/locale/**/*.mo
/sxconsole-lite/static/
/sxconsole-lite/conf.yaml
